<section class="report-section">
  <h2>C-01 Session Overview</h2>
  <p>
    School: <%= @presenter.school&.name %><br>
    Class: <%= @presenter.school_class&.name %> (Grade <%= @presenter.school_class&.grade %>)<br>
    Version: <%= @presenter.assessment_version&.name %><br>
    Session: <%= @presenter.session&.id %>
  </p>
</section>
