<section class="report-section">
  <h2>검사 개요</h2>
  <table class="report-table">
    <tr><th style="width:120px;">학교</th><td><%= @presenter.school&.name %></td></tr>
    <tr><th>학급</th><td><%= @presenter.school_class&.name %> (<%= @presenter.school_class&.grade %>학년)</td></tr>
    <tr><th>검사 버전</th><td><%= @presenter.assessment_version&.name %></td></tr>
    <tr><th>검사 회차</th><td><%= @presenter.session&.id %></td></tr>
  </table>
</section>
