<h1>학교 문해력 진단 보고서</h1>

<%= render "reports/school/c01_overview" %>
<%= render "reports/school/c02_participation" %>
<%= render "reports/school/c03_domain_distribution" %>
<%= render "reports/school/c04_subskill_weakness" %>
<%= render "reports/school/c05_trait_distribution" %>
<%= render "reports/school/c06_insights" %>
<%= render "reports/school/c07_program_proposal" %>
