<h1>학생 문해력 진단 보고서</h1>

<%= render "reports/student/s01_basic_info" %>
<%= render "reports/student/s02_assessment_overview" %>
<%= render "reports/student/s03_executive_summary" %>
<%= render "reports/student/s04_domain_profile" %>
<%= render "reports/student/s05_subskill_strengths" %>
<%= render "reports/student/s06_item_analysis" if report_section_visible?(@audience, "S-06") %>
<%= render "reports/student/s07_rubric_feedback" if report_section_visible?(@audience, "S-07") %>
<%= render "reports/student/s08_trait" %>
<%= render "reports/student/s09_domain_guidance" %>
<%= render "reports/student/s10_book_guidance" %>
<%= render "reports/student/s11_parent_summary" if report_section_visible?(@audience, "S-11") %>
<%= render "reports/student/s12_appendix" if report_section_visible?(@audience, "S-12") %>
